body {
  font-family: sans-serif;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 90px;
  background: rgb(255, 251, 39);
}

header h1 {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}

.overlapping {
  background-color: black;
  width: 1024px;
  height: 576px;
  position: absolute;
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 251, 39);
  text-align: center;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlapping button {
  cursor: pointer;
  background-color: black;
  color: rgb(255, 251, 39);
  border: 2px solid rgb(255, 251, 39);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  transition: all 0.5s;
}

.overlapping button:hover {
  background-color: rgb(255, 251, 39);
  color: black;
  border: 2px solid black;
}

.x_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.compile_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  font-size: 13px;
}

form label {
  display: block;
  margin: 10px 0;
}
form textarea {
  width: 100%;
  height: 80%;
  background-color: black;
  color: rgb(39, 255, 226);
  font-family: "Press Start 2P", cursive;
  text-align: top;
  resize: none;
}

form textarea:focus-visible {
  outline: none;
}

.overlapping a {
  background-color: rgb(255, 251, 39);
  color: black;
  padding: 1rem 1.2rem;
  font-size: large;
  font-family: "Press Start 2P", cursive;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.overlapping h2 {
  background-color: rgb(255, 251, 39);
  color: #000;
  padding: 10px;
}

.overlapping a:hover {
  background-color: black;
  color: rgb(255, 251, 39);
  border: 2px solid rgb(255, 251, 39);
}

.content {
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.toolbar {
  background-color: black;
  width: 1024px;
  height: 80px;
  position: absolute;
  display: flex;
  bottom: 0;
  margin: 0 auto;
  border: 3px solid rgb(255, 251, 39);
  opacity: 0;
  pointer-events: none;
}
.content .content__hero_img {
  height: auto;
  width: 100px;
  background-image: url("../public/mag.png");
  background-size: cover;
  display: inline-block;
  filter: grayscale(100%) sepia(100%) saturate(200%) hue-rotate(-20deg)
    brightness(100%);
}

.content .content__spells {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.content .content__info_sec {
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 251, 39);
  height: auto;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__info_sec p {
  margin: 3px 0;
  font-size: 13px;
}

.content__spells button {
  margin: 2% 3%;
  flex: 1;
  color: rgb(255, 251, 39);
  background-color: black;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  border: 2px solid rgb(255, 251, 39);
  border-radius: 10px;
  transition: all 0.5s;
}

.content__spells button:hover {
  border-color: black;
  background-color: rgb(255, 251, 39);
  color: black;
}
.content__spells button:focus-visible {
  outline: none;
}

.content__console_log {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  overflow: auto;
  color: rgb(255, 251, 39);
  font-family: "Press Start 2P", cursive;
  border: 2px solid rgb(255, 251, 39);
  font-size: 10px;
  border-radius: 10px;
}

/* Legenda */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: black;
  color: rgb(255, 251, 39);
  font-family: "Press Start 2P", cursive;
  border: 1px solid rgb(255, 251, 39);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

#showLegendBtn {
  cursor: pointer;
  background-color: black;
  color: rgb(255, 251, 39);
  border: 2px solid rgb(255, 251, 39);
  border-radius: 10px;
  transition: all 0.5s;
  padding: 17px 25px;
  margin: 15px 10px;
  font-family: "Press Start 2P", cursive;
}

#showLegendBtn:hover {
  background-color: rgb(255, 251, 39);
  color: black;
  border: 2px solid black;
}

#closeLegendBtn {
  cursor: pointer;
  background-color: black;
  color: rgb(255, 251, 39);
  border: 2px solid rgb(255, 251, 39);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 8px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s;
}

#closeLegendBtn:hover {
  background-color: rgb(255, 251, 39);
  color: black;
  border: 2px solid black;
}

#popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#popup li {
  margin-bottom: 10px;
}

/* Stopka */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  color: rgb(255, 251, 39);
  text-align: center;
}
footer a {
  color: rgb(255, 251, 39);
  text-decoration: none;
  font-weight: bold;
}
